@{
  Layout = "_Layout";
}

<h2>Home</h2>
<hr />

@using (Html.BeginForm("search", "Titles", "Authors")) {
  <input type="text" name="search">
  <input type="Submit" value="search" class="btn btn-default">
}

<p>@Html.ActionLink("Add an author", "Create", "Authors", null,  new { @class = "btn btn-success btn-large" })</p>
<p>@Html.ActionLink("Add a title", "Create", "Titles",  null, new { @class = "btn btn-primary btn-large" })</p>
<p>@Html.ActionLink("Add a patron", "Create", "Patrons",  null, new { @class = "btn btn-primary btn-large" })</p>
