@{
  Layout = "_Layout";
}

@using LibraryCatalog.Models;
@using System.Security.Claims;

@* <h2 class="firstHead">Home</h2>
<hr /> *@



<div class="btn-toolbar">
<p>@Html.ActionLink("Create a new account", "Index", "Account", null,  new { @class = "btn btn-dark btn-large" })</p>
<p>@Html.ActionLink("Add an author", "Create", "Authors", null,  new { @class = "btn btn-dark btn-large" })</p>
<p>@Html.ActionLink("Add a title", "Create", "Titles",  null, new { @class = "btn btn-dark btn-large" })</p>
<p>@Html.ActionLink("Add a patron", "Create", "Patrons",  null, new { @class = "btn btn-dark btn-large" })</p>
</div>
 