

<h2>Home</h2>
<hr />

<p>@Html.ActionLink("Add an author", "Create", "Authors")</p>
<p>@Html.ActionLink("View all authors", "Index", "Authors")</p>
<p>@Html.ActionLink("Add a title", "Create", "Titles")</p>
<p>@Html.ActionLink("View all titles", "Index", "Titles")</p>