body{
  /* background-image: url("https://wallpaperaccess.com/full/253322.jpg"); */
  width: auto;
  height: auto;
  object-fit: cover;
}

.firstHead{
  color: burlywood;
}

.btn{
  margin-top: 50px;
  margin-left: 40px;
}

h1 h2 h3 h4 {
  color: white;
}



