@{
  Layout = "_Layout";
}

@using LibraryCatalog.Models;
@model IEnumerable<LibraryCatalog.Models.Title>

<h1>Titles for @User.Identity.Name</h1>
<hr />

@if (Model.Any())
{
  @foreach (Title title in Model)
  {
    <div class="card" style="width:30%;">
      <div class="card-body">
          <p>@Html.ActionLink($"{title.BookName}", "Details", new { id = title.TitleId }), Quantity: @title.Quantity</p>
    </div>
  </div>
  }
} 
else
{
  <h3>No titles have been added yet!</h3>
}

<p>@Html.ActionLink("Add new title", "Create")</p>